
body{
    background: rgb(21, 32, 43);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    
}

.column-left{ 
    /* position:-webkit-sticky;  */
    list-style-type: none;
    font-size: 18px;
    font-weight: bold;
    line-height: 50px;
    position: fixed;
    top: 0;
    width: 24%;
    float: left; 
    left: 5%;
    margin: 30px;
    /* position:sticky; top:0; */
}

.column-left .vl{
    border-left: 1px solid gray;
    height: 1000px;
    position: absolute;
    left: 70%;
    margin-left: 5px;
    top: 0;
}
.column-right .vl{
    border-right: 0.8px solid gray;
    height: 1400px;
    position: absolute;
    top: 0;
}

.column-left button{
    background-color:rgb(58,161,242);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    width: 200px;
    border-radius: 22px;
}



.column-center div.topbar{
    position:-webkit-sticky; 
    position:sticky; 
    top:0;
    background-color: rgb(21, 32, 43);
    width: 108%;
    vertical-align: baseline;
}

.column-center div.topbar img{
    /* margin-top: 100px */
    /* position: absolute; */
}



.column-center{ 
    display: inline-block; 
    width: 44%;
    margin-left: 24%;
}


.column-center .cover{
    position: absolute;
    z-index: -1;
}

.column-center .profile{
    position: relative;
    border-radius: 50%;
    border: 5px solid rgb(21, 32, 43);
    margin-left: 10px;
    margin-top: 130px;
    height: 150px;
    width: 150px;
    z-index: -1;
    
}


.column-center button{
    margin-left: 550px;
    color: rgb(58,161,242);
    background-color: transparent;
    font-size: 15px;
    border-radius: 22px;
    border-color: rgb(58,161,242);
    padding: 10px;
    width: 90px;
}

.column-center .line{

    border: 0.8px solid gray;
    width: 106.5%;
}

.column-center .textList{
    word-spacing: 90px;
    color: rgb(136,153,166);
    font-weight: bold;
    margin-left: 40px;
    margin-top: 40px;
}

.column-center .textList .first{
    color: rgb(58,161,242);
}

.column-center .imgpost{
    margin-left: 20px;
    border-radius: 50px;
}

.column-center .post{
    position: relative;
    top: -35px;
    margin-left: 20px;
}

.column-center .post .user{
    font-weight: bold;

}

.column-center .post .subuser{
    color: rgb(136,153,166);
    font-size: 15px;
}

.column-center .post .text{
    margin-top: 5px;
    margin-left: 105px;
}
.column-center .post .footer{
    margin-left:100px;
    color: rgb(136,153,166);
    font-size: 15px;
}

.column-center .post .footer .tab{
    display: inline-block;
    margin-left: 70px;
}

.column-right{ 
    float: right; 
    width: 29%; 
    /* position: fixed; */
    top: 0;
    /* left: 70% */
    z-index: -1;
}


.column-right div.topbar{
    position: fixed;
    top: 0;
    background-color:  rgb(21, 32, 43);
    z-index: 100;
    width: 28%;
    margin-left: 10px;
    /* background-color: red; */
}


.column-right .topbar input{
    color: white;
    margin-top: 20px;
    width: 270px;
    margin-left: 20px;
    padding: 20px;
    border-radius: 35px;
    font-size: 14px;
    background-color: rgb(37,51,65);
    padding: 12px 20px 12px 40px;
    border: 1px solid gray;
    z-index: 100;
    
}


.column-right .wrapper {
    display: grid;
    grid-template-columns: 110px 110px 110px;
    grid-gap: 1px;
    border-radius: 5px;
    margin-top: 70px;
    margin-left: 32px;
    margin-bottom: 20px;
}

.column-right .a img{
    border-radius: 15px 0px 0px 0px;
}

.column-right .c img{
    border-radius: 0px 15px 0px 0px;
}

.column-right .f img{
    border-radius: 0px 0px 15px 0px;
}

.column-right .d img{
    border-radius: 0px 0px 0px 15px;
}

.column-right .middle{
    margin-left: 35px;
    padding: 10px;
    background-color: rgb(25,39,52);
    border-radius: 25px;
    z-index: -10;
    width: 315px;
    height: 250px;
}

.column-right .middle img{
    border-radius: 50%;
    margin-top: 10px;
    z-index: -1;
}

.column-right .middle .line{
    position: absolute;
    border: 0.3px solid gray;
    width: 333px;
    margin-left: -10px;
}

.column-right .middle .hr2{
    margin-top: -109px;
}

.column-right .middle .hr3{
    margin-top: -80px;
}


.column-right .middle span span button{
    color: rgb(58,161,242);
    position: relative;
    top: -55px;
    margin-left: 210px;
    background-color: transparent;
    font-size: 15px;
    border-radius: 22px;
    border-color: rgb(58,161,242);
    padding: 10px;
    width: 90px;
}


.column-right .trands{
    position: relative; 
    font-weight: bold;
    top: 20px;
    margin-left: 35px ;
    width: 315px;
    background-color: rgb(25,39,52);
    padding: 10px;
    border-radius: 20px;
    z-index: -1;
}

.column-right .trands p{
    color: rgb(136,153,166);
    font-size: 14px;
    font-weight: normal;
}

.column-right .trands hr{
    border: 0.3px solid gray;
    margin-left: -10px;
    width: 333px;
}

.column-right .down{
    margin-left: 35px;
    word-spacing: 15px;
    font-size: 12px;
    color: rgb(136,153,166);
    margin-top: 50px;
    width: 330px;
}
