body
{
    background: white;
    padding: 0;
    margin: 0;
}

.container
{
    border-radius: 30px;
    width: 300px;
    height: 300px;
    margin: auto;
    background-color: transparent;
    position: relative;
    padding: 10px;
    border: solid black;
}

.container:hover
{
    border-radius: 0px;
}

.blur 
{
    font-size: 40px;
    list-style-type: none;
    margin: 20px;
    padding: 20px;
    width: 200px;
    background-color:aliceblue;
    color: transparent;
	text-shadow: 0 0 8px #000;
}

li:hover
{
    color: black;
    font-size: 60px;
}
